@import "../config";

.banner{
  position: relative;
  width: 100%;
  height: 70vh;

  .mainImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 10% 65%;
  }

  .innerBox{
    position: absolute;
    background-color: rgba($white, .7);
    bottom: 0;
    left: 0;
    margin-bottom: 2rem;
    margin-left: 2rem;
    padding: 0 1rem;
    padding-top: 12rem;
    padding-bottom: 1rem;
    width: 350px;
    border-radius: .25rem;

    .banner_title{
      line-height: 1;
      margin-bottom: .5rem;
      white-space: nowrap;
    }

    .banner_cta{
      margin-top: 1rem;
      background-color: $primaryColor;
      color: $white;
    }
  }
}

@media screen and (max-width: $bpS){
  .banner{
    height: fit-content;
    margin-bottom: 10rem;
    
    .mainImage{
      object-fit: contain;
    }

    .innerBox{
      top: 98%;
      left: 0;
      margin: 0;
      padding: 1rem;
      width: 100%;
      height: fit-content;
      background-color: darken($white, 30%);

      .banner_title{
        font-size: 1.4rem;
      }
      .banner_text{
        font-size: 1rem;
      }
      .banner_cta{
        font-size: 1rem;
      }
    }
  }
}