@import "../config";

.header{
  @extend .center-h;
  position: relative;
  background-color: $primaryColor;
  color: $white;
  padding: .3rem 0;

  .logo{
    @extend .center-h;
    cursor: pointer;
    font-size: 1.2rem;
    
    &::selection{ background-color: transparent; }
  }

  .searchbar{
    flex: 1;
    display: flex;

    input, button {
      font-size: 1rem;
    }

    input{
      flex: 1;
      border: none;
      outline: none;
      padding: .5rem .3rem;
    }

    button{
      @extend .center;
      padding: 0 .5rem;
      background-color: darken($primaryColor, 10%);
    }
  }

  .header_left, .header_right{
    padding: 0 2rem;
  }

  .header_right{
    @extend .center-h;

    .datePicker{
      @extend .center;
      padding: 0 1rem;
    }

    .lend{
      @extend .center-h;
      background-color: darken($primaryColor, 10%);
      color: $white;
      margin-right: 1rem;
    }

    .user{
      cursor: pointer;
    }
  }

  .datePickerContainer{
    z-index: 2;
    position: absolute;
    top: calc(100% + .5rem);
    right: 2rem;
    color: $black;

    &>*{
      border-radius: .25rem;
      overflow: hidden;
      box-shadow: 2px 2px 10px grey;
    }
  }

  .userMenu{
    z-index: 1;
    position: absolute;
    top: calc(100% + 1rem);
    background-color: darken($white, 10%);
    color: $black;
    right: 1.5rem;

    &::before{
      position: absolute;
      content: "";
      bottom: 100%;
      right: 1rem;
      border: solid transparent;
      border-width: .7rem;
      border-bottom-color: darken($white, 10%);
    }

    .userOption{
      width: 100%;
      padding: .5rem;
      cursor: pointer;

      &:hover{
        background-color: darken($white, 20%);
      }

      a{
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

}