.lendFormBackground{
  @extend .center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($black, .7);

  .lendFormPopup{
    width: 50%;
    height: 70%;
    background-color: $white;
  }
}