@mixin logBackground {
  @extend .center;
  margin: 2rem;
  width: 30% !important;
  height: 70vh;
  background-color: $white;
  padding: 2rem;
}

@mixin logBtn {
  background-color: $primaryColor;
  color: $white;
  width: 70%;
  padding: .3rem 0;
  margin: .5rem 0;
  text-align: center;
}

.login{
  @extend .center;

  h2{
    margin-bottom: 2rem;
  }

  .loginBox{
    @include logBackground();

    .loginBtn{
      @include logBtn();

      &.loginWithFacebookBtn{
        background-color: #4867AA;
      }
    }
  }
  .registerBox{
    @include logBackground();

    .registerWithGoogleBtn{
      @include logBtn();
    }
    .registerWithFacebookBtn{
      @include logBtn();
      background-color: #4867AA;
    }
  }
}